@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Noto+Sans:400,700);
$white20 : rgba(255,255,255,0.3);
$noto: 'Noto Sans', san-serif;

body {
    font-family: $noto;
    color: white;
    

background: #1D4350; /* fallback for old browsers */
background: -webkit-linear-gradient(top left, #1D4350 , #A43931); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(top left, #1D4350 , #A43931); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    background-attachment: fixed;
        
}

#view{
    width: 90%;
    margin: auto;
    padding: 5%;
}

#right {
    width: 5%;
    text-align: center;
}

table {
    th {
        background: indianred;
        padding: 1% 0 1%;
    }
    
    td {
        padding: 1%;
    }

    tr:nth-child(even) {
        background: $white20;
}
    
}


.top {
    height: auto;
    padding: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
        font: 3em $noto;
        font-weight: 700;
    }
    
    >div {
        text-align: center;
        >p {
            width: 60%;
            display: inline-block;
        }
    }
}

.textarea{
    background: $white20;
    border: none;
    padding: 0.5%;
    border-radius: 10px;
}

.btn {
    background-color: indianred;
    border: none;
    border-radius: 10px;
    padding: 1% 3%;
    color: white;
    
    &:focus,&:active {
        outline: none;
    }
    &:hover { background-color: firebrick;}
}